body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  margin: 0 20px 0 20px;
}

.status-show {
  background-color: rgb(235, 235, 235);
  width: 300px;
  border-radius: 10px;
  margin-left: 10px;
}
.status-show h2 {
  margin-left: 5px;
}
.status-show p {
  margin-left: 20px;
}
.status-show-div {
  display: flex;
}

.table-data {
  border-collapse: collapse;
  min-width: 800px;
}
